body {
  text-align: center;
}

.container {
  min-width: 1000px;
  display: inline-block;
}

.masthead {
  background-color: #fc0;
  padding: 45px;
  box-sizing: border-box;
}

#search-keyword {
  width: 60%;
  padding: 10px;
}

#btn-xhr {
  width: 10%;
  background-color: #45f;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
  text-transform: uppercase;
}

.left {
  width: 100%;
}

#btn-fetch {
  width: 10%;
  background-color: purple;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
  text-transform: uppercase;
}

.articleClass {
  box-sizing: border-box;
  border: 2px solid black;
  width: 100%;
  padding: 1rem;
}